*{

    margin: 0;
    background:linear-gradient(to right, );
}

.card-wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    align-items: stretch;
}

.card{
    border: 1px solid #000;
    width: 30%;
    margin-right: 5%;
    padding: 40px 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card:last-child{
    margin-right: 0;
} 

.card__title {
    font: bold;
    font-size: 32px;
    text-align: center;
}

.card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #666;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}

.card__button:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0;
}

